# Apple M1 Arm64
# Python 3.11.4

pyarrow==13.0.0 # to work with parquet files
fastparquet==2023.8.0 # to work with parquet files

pandas==2.1.1
persiantools==3.0.1
requests==2.31.0
githubdata==15.0.0
mirutil==24.2.1
namespace_mahdimir==3.3.0
mtok==1.3.0
